In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
obj=Series([4,7,-5,3])
obj.values
obj.index
obj2=Series([4,7, -5,3], index=['d','b','a','c'])
obj2.index
obj2['d']=6
obj2[obj2>0]
np.exp(obj2)
'b' in obj2
'e' in obj2
sdata ={'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj3=Series(sdata)
obj3
states=['California', 'Ohio', 'Oregon', 'Texas']
obj4=Series(sdata, index=states)
obj4
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [2]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [7]:
obj4.name ='population'
obj4.index.name='state'
obj4

state
California      NaN
Ohio          35000
Oregon        16000
Texas         71000
Name: population, dtype: float64

In [4]:
data={'state':['Ohio','Ohio', 'Ohio', 'Nevada', 'Nevada'],
      'year':[2000, 2001, 2002, 2001, 2002],
      'pop':[1.5, 1.7, 3.6, 2.4, 2.9]}
frame=DataFrame(data)
frame
DataFrame(data, columns=['year','state','pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9